<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body{
			background-color: #ACE012;
		}
	</style>
</head>
<body>
	<a href="/">Home</a>
<h1>This is About Page</h1>
<h2><%= name %></h2>
<h2><%= age %></h2>
</body>
</html>